:root {
  --font-size: 16px;
  --primary-color: 	#598BAF;
}

body {
  height: 100vh;
  background-color: var(--white);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-family: monospace;
  line-height: 1.5;
}

header {
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  padding: 20px;
  color: white;
  flex-wrap: wrap;
}


header > div,
nav {
  width: calc(100% / 3);
}

nav ul {
  display: flex;
  font-size: 1.5rem;
  justify-content: space-around;
  flex-wrap: wrap;
}



a:hover {
color: yellow;
font-weight: bold;
}

header h2 {
  font-size: 1.75rem;
  font-weight: bolder;
}

a {
  text-decoration: none;
  color: white;
  transition: color 0.25s, font-weight 0.25s;
}

.header-middle {
  display: flex;
  justify-content: center;
  
}

.header-right {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}


.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 10vh 10vw;
  border: dashed 5px;
  padding: 5px 15px;
}
h1,
label {
  font-size: 2rem;
  line-height: 2.5rem;
  text-align: center;
}

h1 {
  font-weight: bolder;
}

h2 {
  font-size: 1.75rem;
  line-height: 1.5rem;
  font-weight: bold;
}

.home-para,
.wrong-p,
#score-list {
  font-size: 1.25rem;
  line-height: 1.5rem;
  padding: 5px 0;
}

#home-start-btn,
.save-btn,
.reset,
.answer-choices,
.hs-btn,
button {
  font-size: 1.25rem;
}

.answer-choices {
  width: 100%;
}

button:hover,
button:focus {
  background-color: #598BAF;
  color: white;
  font-weight: bold;
  border: outset black 3px;
}

#initials:focus {
  background-color: #598BAF;
  color: yellow;
  font-weight: bold;
}

footer {
  background-color: #598BAF;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

footer h3 {
  font-size: 1.2rem;
}

@media (max-width: 375px) {
  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  header > div {
    width: 100%;
  }
  nav {
    text-align: center;
  }

  .header-middle {
    order: -1
  }
  .header-right {
    justify-content: center;
  }
  label {
    font-size: 1.1rem;
    line-height: 1.25rem;
  }
  #home-start-btn,
  .save-btn,
  .reset,
  .answer-choices,
  .hs-btn,
  button {
    font-size: 1rem;
  }
  .home-para,
.wrong-p,
#score-list {
  font-size: 1.1rem;
}
}